@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');

.App {   
    height: inherit;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    opacity: 1;
}

.bg-img {
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.7)), url('./assets/bg-img.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Header Section */

.App-header {
    margin-bottom: 20px;
}

.app-sub-header {
    padding-left: 10px;
    padding-right: 10px;
}
.logo-container {
    max-width: 300px;
    margin: auto;
}

.logo {
    width: 100%;
    box-sizing: border-box;
    border-top: 0px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid; 
    border-color: #adadad;
}

h2, h3, ul, li, p, a {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(20, 40, 220);
}
a:hover {
    text-decoration: underline;
    color: #fff;
    transition: 0.5s ease;
}
.services-text {
    margin: 0px;
    margin-bottom: 5px;
    text-align: left;
}

ul {
    margin: 0px;
    padding-inline-start: 0px;
    text-align: left;
}

li {
    list-style: none;
    padding: 1px;
}

.services-directions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px 40px;
    padding: 15px;
}

.services-container {
    margin-bottom: 20px;
}

.hidden-services {
    margin-top: 4px;
}

.fa-caret-container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.fa-caret-container:hover {
    cursor: pointer;
    text-decoration: underline;
}

.fa-caret {
    font-size: 1.5em;
    padding-left: 10px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.hours-container {
    width: 181px; 
}

/* CSS transitions used to fade hours button */
.hours-enter {
    opacity: 0;
}
.hours-enter-active {
    opacity: 1;
    transition: opacity 0.8s ease-in;
}
.hours-exit {
    opacity: 1;
}
.hours-exit-active {
    opacity: 0;
    transition: opacity 0.8s ease-in;
  }

  /* CSS transitions used on services expansion button 'see more' */
.services-expand-enter {
    opacity: 0;
}
.services-expand-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}
.services-expand-exit {
    opacity: 1;
}
.services-expand-exit-active {
    opacity: 0;
    transition: opacity 1s ease-in;
  }

.directions-section {
    margin: auto;
    max-width: 300px;
    height: 200px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow:  5px 5px 12px 3px #adadad;
    position: relative;
    margin-bottom: 20px;
}

.image {
    display: block;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: calc(26.063px/2);
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
    transition: 0.7s ease;
    opacity: 0;
    padding: 10px;
    text-align: center; 
}

.directions-section:hover .img-overlay {
    opacity: 1;
    box-shadow: 8px 8px 15px 6px #a0a0a0;
}

.review-note {
    max-width: 530px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

.reviews-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.review-links, .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



button {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #000;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    width: auto;
    height: auto;
    border: 2px solid #777;
    border-radius: 5px;
    box-shadow:  5px 5px 12px 3px #adadad;
    margin: 10px;
}

button:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #000;
    border-color: #000;
    transition: 0.5s ease-in-out;
    box-shadow: 8px 8px 15px 6px #a0a0a0;
    ;
}

button:active {
    box-shadow: none;
    transform: translateY(2px);
    transition: 0.5 ease;
}

.message-us-shown {
    width: 100%;
}

