@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');
.App {   
    padding: 0px;
    font-size: 14px;
    text-align: center;
    background-size: 100% 100%;
    
}

/* Header Section */
h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
}

h2 {
    font-family: inherit;
    font-size: 14px;
    font-style: italic;
} 

h3, ul, li, p, a {
    font-family: inherit;
    font-size: 18px;
}
.services-text {
    margin-bottom: 0px;
    margin-top: 32px;
}
ul {
    margin-top: 0px;
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

/* Pictures Section */
.pictures-section img {
    width: 50%;
    border-radius: 10px;
}

.directions-image-container {
    position: relative;
}

.directions-image {
    cursor: pointer;
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.directions-image-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
.directions-image:hover .directions-image {
    opacity: 0.3;
}
  
.directions-image:hover .directions-image-middle {
    opacity: 1;
}
  
.directions-image-text {
    background-color: hsl(214deg 100% 63%) 95%;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.button {
    background-color: hsl(214deg 100% 63%) 95%; 
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: hsl(214deg 100% 63%) 95%;
    color: white;
}

.review-note {
    font-family: inherit;
    font-size: 12px;
    
}
