@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');

.App {   
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    background-size: 100% 100%;
}

/* Header Section */
h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
}

h2 {
    font-family: inherit;
    font-size: 14px;
    font-style: italic;
} 

h3, ul, li, p, a {
    font-family: inherit;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(20, 40, 220);
}
a:hover {
    text-decoration: underline;
    color: #fff;
    transition: 0.5s ease;
}
.services-text {
    margin: 0px;
    margin-bottom: 12px;
}
ul {
    margin-top: 0px;
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

/* Pictures Section */
.pictures-section img {
    width: 50%;
}

.services-directions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 20px;
}

.directions-section {
    position: relative;
}

.image {
    display: block;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: calc(26.063px/2);
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
    transition: 0.7s ease;
    opacity: 0;
    padding: 10px;
    text-align: center; 
}

.directions-section:hover .img-overlay {
    opacity: 1;
}

.review-note {
    width: 300px;
    text-align: left;
    font-family: inherit;
    font-size: 12px;
    margin: 20px;
}

@media only screen and (max-width: 375px) {
    .review-note {
        text-align: center;
    }
}
.reviews-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 20px;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 20px;
}

button {
    font-family: inherit;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: auto;
    height: auto;
    border: none;
    margin: 20px;
}

button:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #000;
    transition: 0.7s ease;
    ;
}

.message-us-shown {
    width: 100%;
}

