html {
  min-height: 100%;
}

body {
  height: 100%;
  
  background-image: 
    linear-gradient(
      180deg,
      hsl(21deg 66% 93%) 0%,
      hsl(55deg 1% 69%) 50%,
      hsl(193deg 7% 47%) 100%
    ); /* adapted from https://www.joshwcomeau.com/gradient-generator?colors=f9eae2|6f7d81&angle=180&colorMode=lab&precision=1&easingCurve=0.333|1|0.666|0 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
